:root {
    --bg-color: #e9eff1;
    --white: #faf0e6;
  }

body {
    background-color: var( --bg-color);
}

.myContainer {
    /* margin: 6%; */
    width: 100%;
    /* background-color: #f8fafb; */
}

.ringcontainer {
    width: 50%;
    float: right;
    height: 1000px;
}

.link {
    fill: none;

}

.link:hover {
    stroke-opacity: .5;
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

#circular_bar_svg {
    width: 50%;
    height: 1000px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    float: left;
}





#shankey_svg {
    /* width: 40%; */
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    float: left;
}

#box_plot_svg {
    width: 50%;
    height: 1000px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    float: right;
}

#map_div {
    width: 350px;
    height: 800px;
    overflow-y: scroll;
}

#map_svg {
    width: 1200px;
    height: 800px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: block;
    float: left;
}

#map_cars {
    width: 300px;
    height: 1050px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: block;
    float: right;
}

#network_svg {
    width: 100%;
    height: 1000px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

/* #sanky_div {
    width: 50%;
    height: 800px;
    overflow-y: scroll;
    float: left;
} */


#left-shanky-div {
    width: 20%;
    /* height: 800px; */
    overflow-y: scroll;
    float: left;
    background-color: var( --bg-color);
    border-width: 0px;
    
}

#right-scroll-div {
    width: 80%;
    height: 800px;
    /* overflow-y: scroll; */
    float: right;
    background-color: var( --bg-color);
}

#left-circular-div {
    width: 45%;
    height: 700px;
    /* overflow-y: scroll; */
    float: left;
    background-color: var( --bg-color);
}

#circular_bar_svg {
    width: 100%;
    height: 700px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    float: left;
}


#right-ring-div {
    padding-top: 8px;
    width: 52%;
    height: 700px;
    /* overflow-y: scroll; */
    float: right;
    background-color: white;
}

#ring_svg {
    width: 100%;
    height: 655px;
    background-color: white;
    /* border: 1px solid lightgray; */
    /* border-radius: 3px; */
    /* float: right; */
}

#map_div {
    width: 100%;
    height: 800px;
    /* overflow-y: scroll; */
    background-color: black;

}

#network_div {
    width: 100%;
    height: 1000px;
    background-color: violet;

}

#location_label {
    float: left;
    margin-right: 10px;
    text-align: center;
}

#ring-drop {
    width: 220px;
    height:20px;
    float: left;
    margin-right: 20px;
}

#dropdownloc{
    height:30px;
}

#dropdowncc{
    height:30px;
}

#panel{
    margin: 5px;
}

